
.menu-button {
    background-color: transparent !important;;
    font-size: 1.5rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  

  .menu-dropdown {
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.896);
    border-radius: 10px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
  
  .menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
  
  }
  
  .menu-item {
    padding: 10px 0;
    font-size: 1rem;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
    display: block;
  }
  
  .menu-item:hover {
    color: #007BFF;
  }
  
  .social-icons2 {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
  
  .social-icon2 {
    font-size: 1.5rem;
    color: #555;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .social-icon2:hover {
    color: #007BFF;
  }
  
  .social-icon2:nth-child(2):hover {
    color: #E4405F;
  }
  
  .social-icon2:nth-child(3):hover {
    color: #1DA1F2;
  }
  
  .social-icon2:nth-child(4):hover {
    color: #00b515;
  }

.menu-button {
  padding: 0px;
  background-color: transparent;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}



@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
  
  .menu-dropdown {
    display: none;
  }
}