@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

.section1 {
    padding: 80px 25px;
    text-align: center;
    height: 100vh;
}

.section1-content {
    margin: 0 auto;
}

.section1-heading {
    font-size: 2.8rem;
    margin-bottom: 20px;
    color: #0d0d0d;
    letter-spacing: 1px;
}

.section1-description {
    font-size: 1.2rem;
    color: #1a1a1a;
    font-weight: 400;
    margin-bottom: 50px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 9px;
    
}

.service-card-1 {
    background: #e0e0e0;
    border-top-left-radius: 58px;
    border-bottom-left-radius: 58px;
    padding: 35px;
    width: 100%;
    max-width: 320px;
    min-height: 360px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.066);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    font-family: inter;
}

.service-card-1:hover {
    background: #c4c3c3;
    width: 100%;
    transform: scale(1.015);
}

.service-card-2 {
    background: #e0e0e0;
    padding: 35px;
    width: 100%;
    max-width: 320px;
    min-height: 360px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.089);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    font-family: inter;
}

.service-card-2:hover {
    background: #b8b7b7;
    width: 100%;
    transform: scale(1.02);
}

.service-card-3 {
    background: #e0e0e0;
    border-top-right-radius: 58px;
    border-bottom-right-radius: 58px;
    padding: 35px;
    width: 100%;
    max-width: 320px;
    min-height: 360px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.067);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    font-family: inter;
}

.service-card-3:hover {
    background: #bababa;
    width: 100%;
    transform: scale(1.02);
}

.service-icon {
    font-size: 3rem;
    color: #00398e;
    margin-bottom: 20px;
    z-index: 1;
    position: relative;
}

.service-card-h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #090909;
    font-weight: 600;
    z-index: 1;
    font-family: inter;
}

.service-card-p {
    font-size: 1rem;
    color: #161616;
    z-index: 1;
    position: relative;
    font-family: inter;
    font-weight: 400;
}

@media (max-width: 768px) {
    .services {
        flex-direction: column;
        gap: 12px;
    }

    .service-card-1, .service-card-2, .service-card-3 {
        max-width: 100%;
    }

    .section1 {
        height: max-content;

    }
    .service-icon {
        color: #00398e;
    }
    
    .service-card-1 {
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;

    }
    
    .service-card-1:hover {
        transform: scale(1);
    }
    
    .service-card-2:hover {
        transform: scale(1);
    }
    
    .service-card-3 {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    

    .service-card-3:hover {
        transform: scale(1);
    }

}

@media (min-width: 1180px) {
    .section1 {
        padding: 80px 25px;
        text-align: center;
    }
}
